/* demo */

.hint {
  margin-bottom: 2rem;
}

input {
  border: 0;
  padding: 1rem;
  border-radius: 10px;
}


.moving-label-wrap {
  position: relative;
}

.moving-label {
  position: absolute;
  margin: 0;
  cursor: text;
  line-height: 1.2;
  transition: all 400ms, top 200ms;
  color: #003;
  font-weight: normal;
  pointer-events: none;
  transform-origin: 0 50%;
  top: 0;
  left: 10px;
  transform: scale(0.8) translateY(0);
}

.moving-label--focus {
  top: 0;
  transform: scale(0.8) translateY(0);
}

.moving-label--empty {
  top: 50%;
  transform: translateY(-50%);
}
